.search-image{
    background-image: url("https://images.unsplash.com/photo-1618221195710-dd6b41faaea6");
    background-repeat: no-repeat;
    background-size: cover;
    /* background-position: center; */
    /* background-attachment: fixed; */
    /* width: 1920px; */
    height: 95vh; 
}